.carrossel{
    max-width: 1200px;
    width: 100%;
    height: 25vw;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}.slides{
    display: flex;
    height: 100%;
    transition: transform 0.6s ease;
    will-change: transform;
}

.slide{
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

button.ctrl{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 2px 6px #a7a1a1;
    user-select: none;
}