*{
    margin: 0 auto;
    background-color: #f8f5e6;
}header{
    border: solid 2px green;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}.logo{
    /* border: solid 2px green; */
    width: 70px;
    height: 70px;
}.navegacao{
    /* border: solid 2px green; */
    height: 35px;
    width: 35%;
    display: flex;
}.listas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0px;
    width: 100%;
}.pesquisa{
    /* border: solid 2px green; */
    height: 40px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}.pesq1{
    width: 100%;
    border: solid 2px #bfa240;
    border-radius: 10px;
}

.login{
    /* border: solid 2px green; */
    height: 50px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}.perfil{
    width: 20%;
    height: 25px;
    /* border: solid 2px green; */
}
.iconperfil{
    fill:#b69014;
    height: 25px;
    width: 100%;
}
.shoppingCart{
    fill:#b69014;
    height: 25px;
    width: 100%;
}
.carrinho{
    width: 20%;
    height: 25px;
    /* border: solid 2px green; */
}


main{
    border: solid 2px green;
    margin-top: 20px;
    height: 450px;
    width: 80%;
}.fretegratis{
    border: solid 2px green;
    height: 200px;
    margin-top: 60px;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}.escritaFretes{
    border: solid 2px green;
    height: 30px;
    width: 50%;
    align-items:first baseline;
    justify-content: space-around;
    text-align: center;
    display: flex;
}.frete{
    border: solid 2px green;
    height: 90px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}.troca{
    border: solid 2px green;
    height: 70px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}.acompanhe{
    border: solid 2px green;
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}.prod-linha1{
    display: flex;
    justify-content: space-around;
    align-items:first baseline;
    text-align: center;
    /* flex-wrap: wrap; */
}.div-prod1{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    flex-wrap: wrap;
    align-items: end;
    border-radius: 10px;
}.div-descprod1{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod1{
    height: 70%;
    width: 100%;
    border: solid 2px green;
    background-image: url("imagens/imgprod1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.div-prod2{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    flex-wrap: wrap;
    align-items: end;
    border-radius: 10px;
}.div-descprod2{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod2{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod3{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod3{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod3{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod4{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod4{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod4{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}

.prod-linha2{
    display: flex;
    justify-content: space-around;
    align-items:first baseline;
    text-align: center;
}.div-prod5{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod5{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod5{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod6{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod6{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod6{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod7{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod7{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod7{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod8{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod8{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod8{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}



.prod-linha3{
    display: flex;
    justify-content: space-around;
    align-items:first baseline;
    text-align: center;
}.div-prod9{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod9{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod9{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod10{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod10{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod10{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod11{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod11{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod11{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod12{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod12{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod12{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}

.prod-linha4{
    display: flex;
    justify-content: space-around;
    align-items:first baseline;
    text-align: center;
}.div-prod13{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod13{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod13{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod14{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod14{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod14{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod15{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}.div-descprod15{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod15{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}
.div-prod16{
    margin-top: 70px;
    border: solid 2px green;
    width: 300px;
    height: 350px;
    border-radius: 10px;    
}.div-descprod16{
    height: 30%;
    width: 100%;
    border: solid 2px green;
}.div-imgprod16{
    height: 70%;
    width: 100%;
    border: solid 2px green;
}






footer{
    margin-top: 20px;
    border: solid 2px green;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.explore{
    border: solid 2px green;
    width: 200px;
    height: 350px;
}.ajuda{
    border: solid 2px green;
    width: 200px;
    height: 249px;
}.politicas{
    border: solid 2px green;
    width: 200px;
    height: 249px;
}.redes{
    border: solid 2px green;
    width: 200px;
    height: 249px;
}.direitos{
    border: solid 2px green;
    width: 200px;
    height: 249px;
    text-align: justify;
}.escritaFreteRapido{
    /* border: solid 2px green; */
    height: 20px;
    width: 100px;
    margin-left: 110px;
    text-align: center;
}.escritaTroca{
    /* border: solid 2px green; */
    height: 20px;
    width: 200px;
    margin-left: 110px;
}.escritaAcompanhe{
    border: solid 2px green;
    height: 100%px;
    width: 100%;
}


.iconfreteRapido{
    fill:#3f8a5d;
    height: 60px;
    width: 100%;
}.iconTroca{
    fill:#3f8a5d;
    height: 60px;
    width: 100%;
}.iconTruck{
    fill:#3f8a5d;
    height: 60px;
    width: 100%;
}

